body {
  margin: 0;
}

#footer {
  height: 490px;
  width: 100%;
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px;
  box-sizing: border-box;
}
#footer p {
  color: #a5a1a1;
}
#footer .upperrow {
  height: 360px;
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr 2fr 2fr;
  grid-template-rows: auto;
  border-bottom: 1px solid #ffffff96;
}
#footer .upperrow div {
  padding: 10px;
  box-sizing: border-box;
}
#footer .upperrow h2 {
  color: #a5a1a1;
}
#footer .upperrow .subscribe p {
  padding-right: 50px;
}
#footer .upperrow span {
  color: #c12f2f;
}
#footer .upperrow ul {
  padding: 0;
}
#footer .upperrow li {
  list-style: none;
  margin: 24px 0;
  color: #a5a1a1;
}
#footer .upperrow .Service_list a {
  text-decoration: none;
  color: #a5a1a1;
}
#footer .upperrow .Service_list a i {
  font-size: 10px;
}
#footer .upperrow .Service_list a:hover {
  color: red;
}
#footer .upperrow .galery {
  height: 170px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  padding: 0;
}
#footer .upperrow .galery .picture {
  padding: 0;
}
#footer .upperrow .galery img {
  width: 100%;
}
#footer .upperrow #subscribe_box {
  height: 40px;
  width: 60%;
  background: #0e0e0ecf;
  border: none;
  margin-top: 40px;
}
#footer .upperrow .btn_join {
  height: 40px;
  width: 30%;
  background: #ED1C24;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#footer .upperrow .social_icons {
  margin-top: 30px;
  padding: 0;
}
#footer .upperrow .social_icons a {
  color: #a5a1a1;
  font-size: 20px;
  margin-right: 10px;
  padding: 5px;
}
#footer .upperrow .social_icons a:hover {
  color: black;
  background: white;
}
#footer .bottomrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
}
#footer .bottomrow p a {
  color: #c12f2f;
  text-decoration: none;
}
#footer .bottomrow .quick_links {
  text-align: right;
}
#footer .bottomrow ul {
  list-style: none;
}
#footer .bottomrow li {
  display: inline-block;
}
#footer .bottomrow li a {
  text-decoration: none;
  color: #a5a1a1;
  margin-right: 20px;
}
